*.swp
*.pyc
.ipynb_checkpoints
*.tfidf
.cenv
.venv
.idea

# Ignore data directory
data
data_source

# Ignore logs
logs

# Ignore checkpoints
checkpoints

# To ignore images
*.gif
*.srt
*.jpg*
*.eps
*.zip
